*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 14px;
  width: 100vw;
  overflow: hidden;
}
a {
  text-decoration: none;
}
.container {
  max-width: 80%;
  margin: 0 auto;
}
h1 {
  text-align: center;
  margin: 2em;
  text-transform: capitalize;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.7rem;
}
.form input {
  padding: 0.3em 0.4em;
  font-size: 1rem;
  outline: none;
}

.form .btn {
  align-self: flex-start;
  padding: 0.3em 0.5em;
  font-size: 1rem;
  border: 2px solid #444;
  background-color: transparent;
}
p.message-name,
p.message-url {
  padding: 0.4em 0em;
  font-size: 1.1rem;
  font-weight: 200;
  display: none;
  color: red;
}
table {
  margin-top: 2rem;
  width: 100%;
  border-collapse: collapse;
}

th {
  font-size: 1.3rem;
  border-bottom: 2px solid grey;
}
td {
  font-size: 1rem;
}
th,
td {
  text-align: left;
  padding: 0.4em 0.6em;
}
tbody tr:nth-child(even) {
  background-color: #f6f6f6;
}
td button {
  padding: 0.5em 0.8em;
  font-size: 0.9rem;
  background: red;
  color: white;
  border: none;
  border-radius: 2px;
  text-transform: capitalize;
  cursor: pointer;
}
td a {
  padding: 0.5em 0.8em;
  font-size: 0.9rem;
  background: lightskyblue;
  color: white;
  border: none;
  border-radius: 2px;
  text-transform: capitalize;
  cursor: pointer;
}
