*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  width: 100vw;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.container>h1,
.container>p {
  text-align: center;
  margin: 1em;
  text-transform: capitalize;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.7rem;
}

.form input {
  padding: 0.3em 0.4em;
  font-size: 1rem;
  outline: none;
}

.form .btn {
  align-self: flex-start;
  padding: 0.3em 0.5em;
  font-size: 1rem;
  border: 2px solid #444;
  background-color: transparent;
}

p.message-name,
p.message-url {
  text-align: left;
  font-size: 0.8rem;
  font-weight: 200;
  display: none;
  color: red;
}

.error {
  border: 2px solid red;
}

.success {
  border: 2px solid limegreen;
}

.bookmarks {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1f;
  grid-template-rows: auto;
  gap: 1.3rem;
}

.bookmark {
  position: relative;
  background-color: #444;
  padding: 1rem;
  border-radius: 5px;
}

.bookmark>* {
  margin-bottom: 1rem;

  color: lightgrey;
}

.bookmark h4 span {
  margin-left: 2rem;
}

.bookmark h4 a {
  color: lightgray;
  padding: 1rem;
}

.bookmark button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

@media (min-width: 480px) {
  .container {
    width: 70%;
  }

  .bookmarks {
    grid-template-columns: 1fr 1fr;
  }
}
